body {
  background-color: aquamarine;
  text-align: center;
}
h1 {
  color: black;
  font-size: 600%;
  font-family:'Courier New', Courier, monospace
}
pre {
  color: black;
  font-size: 300%;
  margin: 0;
  padding: 0;
}