body {
  background-color: aquamarine;
  text-align: center;
}
h1 {
  color: black;
  font-size: 800%;
  font-family:'Courier New', Courier, monospace;
}

h2 {
  color: black;
  font-size: 300%;
  font-family:'Courier New', Courier, monospace;
}

pre {
  color: black;
  font-size: 300%;
  border: 15px dashed black;
  margin: 50px;
  padding: 10px;
}
.paragraph {
  color: blue;
  font-size: 300%;
  border: 15px dashed black;
  margin: 50px;
  padding: 10px;
}

#para1 {
  color: burlywood;
  font-size: 300%;
  border: 15px dashed black;
  margin: 50px;
  padding: 10px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  background-color: aqua;
  padding: 15px, 25px;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}